#export-btn {
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    border: none;
    background: #04ab46;
    color: #fff;
    cursor: pointer;
  }
  
  .cell-row {
    display: flex;
  }
  
  .cell {
    width: 80px;
    height: 40px;
    border: 1px solid lightgray;
    outline: none;
    box-sizing: border-box;
  }
  
  .cell:focus {
    border: 2px solid #5fc0fc;
  }
  
  .cell.header {
    background: #eee;
    text-align: center;
  }
  
  .cell.header.active {
    background: #a8dbfa;
    color: #fff;
  }